body {
    font-family: 'Roboto', sans-serif;
    background: #FF876F;
/*
#4CAF50
#CC8244
#998B80
#FF876F
#AEFFC9
*/
}

.slide {
    width: 1000px;
    height: 650px;
}
.content-with-phone {
    width: 600px;
    height: 630px;
/*    margin-top: 325px;*/
/*    float: right; */
    display: inline-block;
    margin: 10px;
    text-align: center;
}

/* SLIDE 1 */

#title-text {
    color: #FFF;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    background: #4CAF50;
    transform: translateY(-50%); 
    opacity: 0.87;
}
#title-text-title {
    margin-bottom: 10px;  ;
}
#title-text-subtitle {
    font-size: 20px;
    margin-top: 0px;
    text-transform: capitalize;
    opacity: 0.54;
}

#phone-screen-intro {
	width: 100%;
	height: 100%;
}

/* Slide 2 */
.past #title-text {
    transform: translateX(500px);
	opacity: 0;
	transition: transform 0.25s, opacity 0.25s;
}

.past .phone-screen {
	background: #FFF;
	transition: background 0.25s;
	transition-delay: 0.5s;
}


#intro-question-mark {
	color: #000;
	font-size: 144px;
	opacity: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	margin: 0;
}
#intro-question {
	color: #000;
	font-size: 26px;
	opacity: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	margin: 0;
}
.present #intro-question-mark {
	transition: opacity 0.25s, font-size 0.35s, visibility 0.35s;
	transition-delay: 1s, 1.25s, 1.25s;
	opacity: 0.87;
	visibility: hidden;
	font-size: 26px;
}
.present #intro-question {
	transition: opacity 0.25s;
	transition-delay: 1.5s;
	opacity: 0.87;
}